@import "../styles/tokens.css";
@import "flag-icons/css/flag-icons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    min-height: 100vh;
    background: var(--pill-light);
    background-attachment: fixed;
  }
}
